body {
  margin: 0;
  font-family: 'Segoe UI', Arial, sans-serif;
  color: #fff;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  z-index: 10;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-left: 25px;
  font-weight: 500;
}

.btn-dark {
  background: #222;
  padding: 10px 20px;
  border-radius: 4px;
}

.hero {
  background: url('img/RENDER EJEMPLO.jpg') center/cover no-repeat;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px;
  position: relative;
}

.hero-content {
  max-width: 700px;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.hero h1 span {
  font-style: italic;
  color: #f0c27b;
}

.hero p {
  margin-top: 20px;
  font-size: 1.1rem;
  max-width: 600px;
}

.hero-buttons {
  margin-top: 30px;
}

.btn-light, .btn-outline {
  padding: 12px 24px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
}

.btn-light {
  background: #fff;
  color: #000;
}

.btn-outline {
  border: 2px solid #fff;
  color: #fff;
}

.stats {
  position: absolute;
  bottom: 40px;
  left: 60px;
  display: flex;
  gap: 60px;
  font-size: 1rem;
}

.stats strong {
  font-size: 1.8rem;
}
